<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>业务合作</title>
		<link rel="stylesheet" href="../ui/css/base.css">
		<link rel="stylesheet" href="../ui/css/public.css">
		<link rel="stylesheet" href="../ui/css/cooperation.css">
		<script src="../ui/js/jquery.min.js"></script>
		<script src="../ui/js/public.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gfEWHN4rwp4AQSY0mfa9GnXHas5NK3Ym"></script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div class="middle">
					<div class="top">
						<img src="../ui/img/logo.png" class="logo" alt="">
						<img src="../ui/img/title.png" class="img-title" alt="">
						<div class="search fr">
							<i class="icon icon-search"></i>
							<input type="text" placeholder="请输入关键字">
						</div>
					</div>
					<div class="search-menu">
						<i class="icon icon-search"></i>
						<span class="index-line"></span>
						<i class="icon icon-menu"></i>
					</div>
					<ul class="menu-list bg-green">
						<li>
							<div class="menu-list-title">
								<a href="../index.html">首页</a>
								<i class="icon icon-arrow-t"></i>
							</div>
						</li>
						<li>
							<div class="menu-list-title">
								<a href="about-us.html">关于玉龙</a>
								<i class="icon icon-arrow-t"></i>
							</div>
							<div class="menu-desc">
								<a href="about-us.html">公司介绍</a>
								<a href="about-us.html">成长足迹</a>
								<a href="about-us.html">资质荣誉</a>
							</div>
						</li>
						<li>
							<div class="menu-list-title">
								<a href="business.html">业务范围</a>
								<i class="icon icon-arrow-t"></i>
							</div>
							<div class="menu-desc">
								<a href="business.html">市政环卫</a>
								<a href="business.html">综合物业</a>
								<a href="business.html">环保事业</a>
							</div>
						</li>
						<li>
							<div class="menu-list-title">
								<a href="classic-case.html">经典案例</a>
								<i class="icon icon-arrow-t"></i>
							</div>
							<div class="menu-desc">
								<a href="classic-case.html">市政环卫项目</a>
								<a href="classic-case.html">综合物业项目</a>
								<a href="classic-case.html">环保事业项目</a>
							</div>
						</li>
						<li>
							<div class="menu-list-title">
								<a href="corporate-culture.html">企业文化</a>
								<i class="icon icon-arrow-t"></i>
							</div>
							<div class="menu-desc">
								<a href="corporate-culture.html">员工培训</a>
								<a href="corporate-culture.html">员工风采</a>
								<a href="corporate-culture.html">员工心声</a>
							</div>
						</li>
						<li>
							<div class="menu-list-title">
								<a href="news.html">新闻中心</a>
								<i class="icon icon-arrow-t"></i>
							</div>
							<div class="menu-desc">
								<a href="news.html">企业新闻</a>
								<a href="news.html">企业公告</a>
								<a href="news.html">企业资讯</a>
							</div>
						</li>
						<li>
							<div class="menu-list-title">
								<a href="recruit.html">招贤纳士</a>
								<i class="icon icon-arrow-t"></i>
							</div>
							<div class="menu-desc">
								<a href="recruit.html">人才理念</a>
								<a href="recruit.html">招聘信息</a>
								<a href="recruit.html">简历投递</a>
							</div>
						</li>
						<li>
							<div class="menu-list-title">
								<a href="cooperation.html">业务合作</a>
								<i class="icon icon-arrow-t"></i>
							</div>
							<div class="menu-desc">
								<a href="cooperation.html">联系我们</a>
								<a href="cooperation.html">相关链接</a>
							</div>
						</li>
					</ul>
					<ul class="menu">
						<li>
							<a href="../index.html">首页</a>
							<span class="line"></span>
						</li>
						<li>
							<a href="about-us.html">关于玉龙</a>
							<span class="line"></span>
						</li>
						<li>
							<a href="business.html">业务范围</a>
							<span class="line"></span>
						</li>
						<li>
							<a href="classic-case.html">经典案例</a>
							<span class="line"></span>
						</li>
						<li>
							<a href="corporate-culture.html">企业文化</a>
							<span class="line"></span>
						</li>
						<li>
							<a href="news.html">新闻中心</a>
							<span class="line"></span>
						</li>
						<li>
							<a href="recruit.html">招贤纳士</a>
							<span class="line"></span>
						</li>
						<li class="active">
							<a href="cooperation.html">业务合作</a>
						</li>
					</ul>
				</div>
			</header>
			<div class="main">
				<div class="banner">
					<div class="banner-item">
						<p class="item-title">玉龙<span>,</span>让天空更蓝</p>
						<p class="item-tip">城市越洁净,天空越蓝,玉龙环保为城市洁净而努力</p>
					</div>
					<img src="../ui/img/banner.png">
					<div class="bottom-box">
						<div class="title1 bg-green">业务合作</div>
						<div class="title2 fl">
							<i class="icon icon-location"></i>
							<span class="dx">当前位置</span>
							<span>:</span>
							<span>
								<a href="../index.html">玉龙首页</a>
							</span>
							<span>></span>
							<span>业务合作</span>
						</div>
						<div class="title3">
							<span class="active1">
								<a href="#cooperation1">联系我们</a>
							</span>
							<span>
								<a href="#cooperation2">相关链接</a>
							</span>
						</div>
					</div>
					<div class="bottom"></div>
				</div>
				<div class="cooperation1" id="cooperation1" name="cooperation1">
					<div class="title">
						<p class="zh-title">联系我们</p>
						<p class="en-title">CONTACT&nbsp;US</p>
					</div>
					<div>
						<div class="info">
							<p class="info-title">深圳市玉龙环保产业有限公司</p>
							<p>地址：深圳市罗湖区桃园路183号B201室</p>
							<p>电话：0755-82058226</p>
							<p>手机：13602635327</p>
							<p>传真：075</p>
							<p>邮编：310005</p>
							<p>E-mail:yl-0001.@qq.com</p>
						</div>
						<div id="allmap"></div>
					</div>
				</div>
				<div class="line"></div>
				<div class="cooperation" id="cooperation2" name="cooperation2">
					<div class="title">
						<p class="zh-title">相关链接</p>
						<p class="en-title">RELATED&nbsp;LINKS</p>
					</div>
					<ul class="cooperation-list">
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation1.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation2.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation3.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation4.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation5.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation6.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img src="../ui/img/cooperation/cooperation7.jpg" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<footer>
				<div class="footer-top middle">
					<div class="box">
						<i class="icon icon-phone"></i>
						<span class="phone">07555-82400160</span>
					</div>
				</div>
				<div class="footer-main middle">
					<ul class="footer-main-list">
						<li>
							<a href="view/about-us.html" class="footer-main-title">关于玉龙</a>
							<a href="javascript:void(0);">组织架构</a>
							<a href="javascript:void(0);">成长足迹</a>
							<a href="javascript:void(0);">资质荣誉</a>
						</li>
						<li>
							<a href="view/business.html">业务范围</a>
							<a href="javascript:void(0);">市政环卫</a>
							<a href="javascript:void(0);">综合业务</a>
							<a href="javascript:void(0);">环保事业</a>
						</li>
						<li>
							<a href="view/classic-case.html">经典案例</a>
							<a href="javascript:void(0);">市政环卫项目</a>
							<a href="javascript:void(0);">综合业务项目</a>
							<a href="javascript:void(0);">环保事业项目</a>
						</li>
						<li>
							<a href="view/corporate-culture.html">企业文化</a>
							<a href="javascript:void(0);">员工培训</a>
							<a href="javascript:void(0);">员工风采</a>
							<a href="javascript:void(0);">员工心声</a>
						</li>
						<li>
							<a href="view/news.html">新闻中心</a>
							<a href="javascript:void(0);">企业新闻</a>
							<a href="javascript:void(0);">企业公告</a>
							<a href="javascript:void(0);">行业资讯</a>
						</li>
						<li>
							<a href="view/recruit.html">招贤纳士</a>
							<a href="javascript:void(0);">人才理念</a>
							<a href="javascript:void(0);">招聘信息</a>
							<a href="javascript:void(0);">简历投递</a>
						</li>
						<li>
							<a href="view/cooperation.html">业务合作</a>
							<a href="javascript:void(0);">联系方式</a>
							<a href="javascript:void(0);">相关链接</a>
						</li>
						<li class="qrcode">
							<img src="../ui/img/code.png">
							<p>微信扫一扫&nbsp;关注一下</p>
						</li>
					</ul>
					<ul class="footer-main-list1">
						<li>
							<div class="footer-main-title">
								<span class="title">关于玉龙</span>
								<i class="icon icon-shu"></i>
								<i class="icon icon-heng"></i>
							</div>
							<div class="footer-desc">
								<a href="javascript:void(0);">组织架构</a>
								<a href="javascript:void(0);">成长足迹</a>
								<a href="javascript:void(0);">资质荣誉</a>
							</div>
						</li>
						<li>
							<div class="footer-main-title">
								<span class="title">业务范围</span>
								<i class="icon icon-shu"></i>
								<i class="icon icon-heng"></i>
							</div>
							<div class="footer-desc">
								<a href="javascript:void(0);">市政环卫</a>
								<a href="javascript:void(0);">综合业务</a>
								<a href="javascript:void(0);">环保事业</a>
							</div>
						</li>
						<li>
							<div class="footer-main-title">
								<span class="title">经典案例</span>
								<i class="icon icon-shu"></i>
								<i class="icon icon-heng"></i>
							</div>
							<div class="footer-desc">
								<a href="javascript:void(0);">市政环卫项目</a>
								<a href="javascript:void(0);">综合业务项目</a>
								<a href="javascript:void(0);">环保事业项目</a>
							</div>
						</li>
						<li>
							<div class="footer-main-title">
								<span class="title">企业文化</span>
								<i class="icon icon-shu"></i>
								<i class="icon icon-heng"></i>
							</div>
							<div class="footer-desc">
								<a href="javascript:void(0);">员工培训</a>
								<a href="javascript:void(0);">员工风采</a>
								<a href="javascript:void(0);">员工心声</a>
							</div>
						</li>
						<li>
							<div class="footer-main-title">
								<span class="title">新闻中心</span>
								<i class="icon icon-shu"></i>
								<i class="icon icon-heng"></i>
							</div>
							<div class="footer-desc">
								<a href="javascript:void(0);">企业新闻</a>
								<a href="javascript:void(0);">企业公告</a>
								<a href="javascript:void(0);">行业资讯</a>
							</div>
						</li>
						<li>
							<div class="footer-main-title">
								<span class="title">招贤纳士</span>
								<i class="icon icon-shu"></i>
								<i class="icon icon-heng"></i>
							</div>
							<div class="footer-desc">
								<a href="javascript:void(0);">人才理念</a>
								<a href="javascript:void(0);">招聘信息</a>
								<a href="javascript:void(0);">简历投递</a>
							</div>
						</li>
						<li>
							<div class="footer-main-title">
								<span class="title">业务合作</span>
								<i class="icon icon-shu"></i>
								<i class="icon icon-heng"></i>
							</div>
							<div class="footer-desc">
								<a href="javascript:void(0);">联系方式</a>
								<a href="javascript:void(0);">相关链接</a>
							</div>
						</li>
						<li>
							<div class="footer-main-title">
								<a href="weixin.html">
									<i class="icon icon-weixin"></i>
									<span class="title">关注企业</span>
								</a >
							</div>
						</li>
					</ul>
				</div>
				<div class="footer-bottom bg-green color-white">
					<div class="middle">
						<p class="fl">
							深圳市玉龙环保产业有限公司&nbsp;版权所有&nbsp;[后台管理]&nbsp;粤ICP备123456号
						</p>
						<div class="to-top">
							<span>TOP</span>
							<i class="icon icon-arrow"></i>
						</div>
					</div>
				</div>
			</footer>
			<div id="overflow"></div>
			<div id="overflow-box">
				<i class="icon icon-close"></i>
				<div class="overflow-box">
					<input type="text" placeholder="Search">
					<i class="icon icon-search-n"></i>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var map = new BMap.Map("allmap"); // 创建Map实例
			// map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  初始化地图,设置中心点坐标和地图级别
			var point = new BMap.Point(114.115323, 22.565617);
			map.centerAndZoom(point, 12);
			var marker = new BMap.Marker(point); // 创建标注
			map.addOverlay(marker); // 将标注添加到地图中

			var label = new BMap.Label("深圳市玉龙环保产业有限公司", {
				offset: new BMap.Size(20, -10)
			});
			marker.setLabel(label);
			//添加地图类型控件 添加带有定位的导航控件
			var navigationControl = new BMap.NavigationControl({
				// 靠左上角位置
				anchor: BMAP_ANCHOR_TOP_LEFT,
				// LARGE类型
				type: BMAP_NAVIGATION_CONTROL_LARGE
			});
			map.addControl(navigationControl);

			map.addControl(new BMap.MapTypeControl({
				mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP]
			}));
			map.setCurrentCity("北京"); // 设置地图显示的城市 此项是必须设置的
		</script>
	</body>
</html>