<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企业微信</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      .follow-us {
        width: 70%;
        margin: 30px auto;
      }
      .follow-us img {
        width: 100%;
        margin-bottom: 10px;
      }
      .follow-us p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="follow-us">
      <img src="../ui/img/code.png" class="weixincode" alt=""/>
      <p>微信扫一扫&nbsp;关注一下</p>
    </div>
  </body>
</html>